module.exports = {
  apps: [
    {
      name: 'ppcoc_attendance',
      script: './server.js',
      instances: '1',
      env: {
        PORT: 3000,
        NODE_ENV: 'production',
        DB_NAME: 'ppcoc',
        DB_HOST: 'localhost',
        DB_PORT: '5432',
        AUTH0_CLIENT_ID: 'AUTH0_CLIENT_ID',
        AUTH0_DOMAIN: 'AUTH0_DOMAIN',
      }
    }
  ]
};
